body, html {
	background-color: #bad4ff;
	font-style: sans-serif;
	margin: 0px;
	height: 100%;
}

table, tr, td {
	background-color: #ffffff;
	border: 2px solid silver;
	border-collapse: collapse;
}

tr p {
	margin-top: 1px;
	margin-bottom: 1px;
}

tr h2 {
	font-size: 1.9em;
	margin-top: 1px;
	margin-bottom: 1px;
}

#header {
	text-align: center;
	position: fixed;
	font-size: 5em;
	color: white;
	background-color: #647ea9;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;

	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000; 
}

#footer {
	text-align: center;
	position: fixed;
	color: white;
	background-color: #647ea9;
	width: 100%;
	bottom: 0;
	margin-bottom: 0;

	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000; 
}

#pageContent {
	background-color: #ffffff;
	width: 80%;
	height: 100%;
	margin: auto;
	overflow-y: auto;

	border-left: 2px solid #647ea9;
	border-right: 2px solid #647ea9;
}

#scoreButtons {
	padding-top: 200px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
}

#scoreButtons button {
	padding: 10px;
	text-align: center;
	font-size: 16pt;
}

#headers button {
	font-weight: bold;
	background: transparent;
	width: 100%;
}
